if DAC_TAS58XX

    config TAS58XX_MAX_VOLUME
        int "Maximum DAC volume (dB)"
        range -100 0
        default -10
        help
            Maximum volume level in dB that corresponds to AirPlay volume 0 dB.
            The TAS5825M DIG_VOL register range is +24 dB to -103 dB.
            A value of -10 means AirPlay full volume maps to -10 dB on the DAC.

endif # DAC_TAS58XX
